*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: absolute;
  width: 100%;
  text-align: center;
}

h1 span {
  margin: 0 10px;
  font-size: calc(5vmin + 10px);
  color: #484848;
  animation: flash 1.2s linear infinite;
}

@keyframes flash {
  0% {
    color: #e721ac;
    text-shadow: 0 0 7px #e721ac, 0 0 50px #8400ff;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #484848;
    text-shadow: none;
  }
}
@for $i from 1 to 14 {
  h1 span:nth-child(#{$i}) {
    animation-delay: ($i / 14) + s;
  }
}
